body{
    background: linear-gradient(135deg, #ffffff, #bb00ff);
}
p {
    margin-left: -8;
    margin-right:-8;
    margin-top: -8;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 32px;    
}
.rounded-img {   
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out;
    width: 250px;
    height: 25і0px;
    object-fit: cover;
    display: block;     
    margin: auto;
  }
h1{ 
    background: linear-gradient(135deg, #ffffff, #bb00ff);
    background-color: rgb(255, 255, 255);
    margin-bottom: 10;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}
h2 {
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
    margin-bottom: 50;
    font-size: 20px;
}
ul1{
    margin-bottom: 10;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif, sans-serif; 
}
ul2{
    margin-bottom: 10;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif, sans-serif; 
}
.button {
    display: block;
    margin-left: 620;
    margin-right: 620;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 60px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.contact-btn{
    display: block;
    margin-left: 620;
    margin-right: 620;
    color: white;
    padding: 10px 60px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: #000000;
    transform: scale(1.05);
}
h5{
    text-align: center;
    margin-bottom: 50;
    font-size: 20px;    
}