body{
    background: linear-gradient(50deg, #939393, #7e1581);
}
.firsttrain{
    display: block;
    margin-left: 620;
    margin-right: 620;
    background-color: rgb(22, 232, 255);
    color: rgb(0, 0, 0);
    padding: 10px 60px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;    
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.photo{
    width: 300px;
    height: 200px;
}

h1 {
    text-align: center;
}
h2 {
    max-width: 680px;
    padding: 0 16px;
    background: linear-gradient(263.66deg, #4eefd1 5.89%, #00c9ff 114.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}
h3 {
    color: #dcf7ff;
    font-family: Lato, sans-serif;
    font-weight: 200px;
    font-size: 20px;
    max-width: 500px;
    padding: 0 16px;
    transition: .3s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h4 {
    color: #000000;
    font-family: Lato, sans-serif;
    font-weight: 200px;
    font-size: 20px;
    max-width: 500px;
    padding: 0 16px;
    transition: .3s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.button {
    display: block;
    margin-left: 620;
    margin-right: 620;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 251, 255);
    padding: 10px 60px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px;    
    text-align: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
h5 {
    color: #dcf7ff;
    font-family: Lato, sans-serif;
    font-weight: 200px;
    font-size: 22px;
    max-width: 500px;
    padding: 0 16px;
    transition: .3s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.insta {
    background: url(https://www.agym.com.ua/_next/static/media/instagram-white.8124c7849861c1a000a9e0c6ad42cf9e.svg);
    background-repeat: no-repeat;
    background-size: contain; 
    display: inline-block;
    background-repeat: no-repeat;
    width: 20px;
    cursor: pointer;
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    transition: .3s;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    background-color: #999;
    height: 20px;
    background-color: #00c9ff;
    border-radius: 10px;
}
h6 {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-weight: 200px;
    font-size: 20px;
    max-width: 500px;
    padding: 0 16px;
    transition: .3s;
    box-sizing: border-box;
    scroll-behavior: smooth;   
}

